@media (max-width:1108px) {
  .wrapper {
    width:90%;
  }
  #social {
    position:absolute;
    top: 82px;
    right: 4px;
  }
}

@media (max-width:900px) {
  body {
    font-size:85%;
  }
  #logo h1 {
    height:35px;
    width:35px;
  }
  #social {
    top:72px;
  }
  .col-3 p {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}

@media (max-width:750px) {
  #navbar nav a {
    font-size:0.9em;
  }
  .col-3 p {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
  .col-1, .col-2, .col-3 {
    width:100%;
    margin-left:0;
    float:none;
  }
  .border-right {
    border-right:0;
  }
  #details div {
    height:auto;
  }
}

@media (max-width:700px) {
  #navbar {
    visibility:hidden;
  }
  #navbar nav a.menu-icon {
  display:block;
  } 
  #logo h2 {
    visibility:hidden;
  }
}